button.btn-primary {
  font-size: 1.1rem;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button.btn-primary:hover {
  transform: translateY(-2px);
}

tr.element-row:focus,
tr.element-row:hover {
  background-color: #e9ecef;
}
